@charset "utf-8";

p{
	text-align: left;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
font-family: "monospace", Arial, monospace;

}
footer{
	margin-left: auto;
	margin-right: auto;
}
img{
	padding-left: 15px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

h1{
	text-align: center;
	padding-top: 50px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
