@charset "utf-8";

img{
  width: 20%;
  height: 20%;
  padding-left: 11%;
  padding-right: 20%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
footer{
  margin-left: auto;
	margin-right: auto;
}
p{
  padding-left: 11%;
  padding-right: 20%;
  font-family: "monospace", Lucida, monospace;

}
h1{
  padding-left: 11%;
  padding-right: 20%;
  text-align: center;
  font-family: "monospace", Lucida, monospace;
  font-size: 36px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: yellow;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: "monospace", Lucida, monospace;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* https://www.w3schools.com/howto/howto_js_slideshow.asp */
/* https://www.w3schools.com/cssref/css3_pr_order.asp */
/* https://www.w3schools.com/css/css_navbar.asp */
